<ion-view view-title="Algemene metingen">
  <ion-content>
    <form ng-submit="personal.save()">
      <ion-list>
        <ion-item class="item-input">
          <div class="input-label">
            Geboortedatum
          </div>
          <input type="date" ng-model="personal.data.body.dob" placeholder="Geboortedatum" />
        </ion-item>
        <ion-item class="item-input item-select">
          <div class="input-label">
            Geslacht
          </div>
          <select ng-model="personal.data.body.gender" >
            <option value="male">Man</option>
            <option value="female">Vrouw</option>
            <option value="unknown">Anders</option>
          </select>
        </ion-item>
        <ion-item class="item-input">
          <div class="input-label">
            Lengte
          </div>
          <input type="number" ng-model="personal.data.body.height" step="any" placeholder="Lengte in m" />
        </ion-item>
      </ion-list>
      <p class="padding">
        <button type="submit" class="button button-block">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
