.item{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}

/* Additional styling for timeline */
ul.timeline li { margin-bottom: 12px; }
ul.timeline li timeline-panel { padding: 4px 12px }
.text-muted { color: #999; }
.text-muted i { margin-right: 5px; }

/* Colors for icons in the timeline */
.timeline li timeline-badge.remark {         background-color: #d9534f !important; }
.timeline li timeline-badge.blood-glucose {   background-color: #2e6da4 !important; }
.timeline li timeline-badge.blood-pressure {  background-color: #4EF0D2 !important; }
.timeline li timeline-badge.cholesterol {    background-color: #3f903f !important; }
.timeline li timeline-badge.body-weight {     background-color: #f0ad4e !important; }
.timeline li timeline-badge.body-mass-index { background-color: #5bc0de !important; }

/* Timeline removal */
timeline-event {
  overflow: hidden;
  display: block;
  height: 95px;
  transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
}

timeline-event h4 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-right: 30px; }
.timeline timeline-event.removed { height: 0px; }
.timeline .delete-icon { color: #999; cursor: pointer; }
.timeline .delete-icon:hover { color: #333; }

/* Specific styling for cholesterol measurements in timeline */
.datapoint-details { color: #999; font-size: smaller; white-space: no-wrap; }
.cholesterol-detail:after { content: ' / ' }
.cholesterol-detail:last-child:after { content: '' }

/* Hide datapoint details on small screens */
@media (max-width: 600px) {
  .datapoint-details { display: none; }
}

/* Charts styling: fullscreen charts */
.chart-container { height: 100%; }
.chart-container > .scroll { height: 100%; }
svg.chart { display: none; }

/* Charts styling: tooltips on top */
.d3-tip { z-index: 10; }
.omh-tooltip .threshold-desirable { color: green; }
.omh-tooltip .threshold-borderline_high { color: orange; }
.omh-tooltip .threshold-high { color: red; }

/* Popover with 'add' menu */
 .popover { height: 320px; }

/* Sharing page */
.buttons .col { text-align: center; }
.sharing .buttons .button { min-width: 150px; text-align: left; }
.buttons .button spinner { float: right; }
.buttons .button.icon-left:before { padding-right: 0.4em; margin-top: 0; }

/* Measurement detail color indications */
.value-desirable {
  background-color: #aaffa8;
}

.value-borderlinehigh {
  background-color: #ffdca5;
}

.value-high {
  background-color: #ff98a4;
}

input[type=range] {
  height: 40px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #387ef5;
  margin-top: -8px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.questionnaire-input-range {
  list-style: none;
  text-align:center;
  margin:0px auto 0px auto;
}

.questionnaire-input-range input[type=range] {
  width: 85%;
}

.questionnaire-input-range ul {
  width: 100%;
  display: table;
  list-style: none;
}

.questionnaire-input-range li {
  width: 14%;
  display: table-cell;
  text-align: center;
  font-size: small;
}

.questionnaire-input-range .option {
  width: 40px;
}

