<ion-view view-title="All measurements">
  <ion-nav-buttons side="secondary">
    <a ng-click="timeline.popover.show($event)" class="button">
      <i class="ion ion-plus"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <timeline>
      <timeline-event id="event-{{event.id}}" ng-repeat="event in timeline.events" side="right" ng-class="{removed: event.removed}">
        <timeline-badge class="{{event.badgeClass}}">
          <i class="ion {{event.badgeIconClass}}"></i>
        </timeline-badge>
        <timeline-panel class="{{event.badgeClass}} item-icon-right">
          <timeline-heading>
            <h4 ng-if="event.type == 'intervention'">{{event.message}}</h4>
            <h4 ng-if="event.measurementType == 'blood-pressure'">Blood pressure: {{event.datapoint.body.systolic_blood_pressure.value}} / {{event.datapoint.body.diastolic_blood_pressure.value}}</h4>
            <h4 ng-if="event.measurementType == 'body-weight'">Body weight: {{event.datapoint.body.body_weight.value}} {{event.datapoint.body.body_weight.unit}}</h4>
            <h4 ng-if="event.measurementType == 'body-mass-index'">BMI: {{event.datapoint.body.body_mass_index.value | number}} {{event.datapoint.body.body_mass_index.unit}}</h4>
            <h4 ng-if="event.measurementType == 'blood-glucose'">Glucose level ({{event.datapoint.body.temporal_relationship_to_meal}}): {{event.datapoint.body.blood_glucose.value}} {{event.datapoint.body.blood_glucose.unit}}</h4>
            <h4 ng-if="event.measurementType == 'cholesterol'">Cholesterol: {{event.datapoint.body.blood_total_cholesterol.value}} {{event.datapoint.body.blood_total_cholesterol.unit}}
              <span class="cholesterol-details">
                <span ng-if="event.datapoint.body.blood_ldl_cholesterol.value" class="cholesterol-detail">LDL: {{event.datapoint.body.blood_ldl_cholesterol.value}} {{event.datapoint.body.blood_ldl_cholesterol.unit}}</span>
                <span ng-if="event.datapoint.body.blood_hdl_cholesterol.value" class="cholesterol-detail">LDL: {{event.datapoint.body.blood_hdl_cholesterol.value}} {{event.datapoint.body.blood_hdl_cholesterol.unit}}</span>
                <span ng-if="event.datapoint.body.blood_triglycerides.value" class="cholesterol-detail">LDL: {{event.datapoint.body.blood_triglycerides.value}} {{event.datapoint.body.blood_triglycerides.unit}}</span>
              </span>
            </h4>
            <p><small class="text-muted"><i class="ion ion-clock"></i>{{event.date | date}}</small></p>
            <a class="icon delete-icon" ng-if="event.model" ng-click="timeline.remove(event);">
              <i class="ion ion-trash-b"></i>
            </a>
          </timeline-heading>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </ion-content>
</ion-view>
