<ion-view view-title="New BMI measurement">
  <ion-content>
    <form ng-submit="bmi.save()">
      <ion-list>
        <ion-item class="item-input">
          <div class="input-label">
            Date
          </div>
          <input type="date" ng-model="bmi.data.date" placeholder="Date of measurement" />
        </ion-item>
        <ion-item class="item-input">
          <div class="input-label">
            Weight
          </div>
          <input type="number" ng-model="bmi.data.body.weight" step="any" placeholder="Weight in kg" />
        </ion-item>
        <ion-item class="item-input">
          <div class="input-label">
            Length
          </div>
          <input type="number" ng-model="bmi.data.body.height" step="any" placeholder="Length in m" />
        </ion-item>
      </ion-list>
      <p class="padding">
        <button type="submit" class="button button-block button-ssh">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
