<ion-view view-title="New body weight measurement">
  <ion-content>
    <form ng-submit="bodyweight.save()">
      <ion-list>
        <ion-item class="item-input">
          <div class="input-label">
            Date
          </div>
          <input type="date" ng-model="bodyweight.data.date" placeholder="Date of measurement" />
        </ion-item>
        <ion-item class="item-input">
          <div class="input-label">
            Body weight
          </div>
          <input type="number" ng-model="bodyweight.data.body.weight" step="any" placeholder="body weight in kg" />
        </ion-item>
      </ion-list>
      <p class="padding">
        <button type="submit" class="button button-block button-ssh">
          Save
        </button>
      </p>
    </form>
  </ion-content>
</ion-view>
